.text {
    text-align: center;
}

.chooices {
    background-color: gold;
    text-align: center;
    padding: 1%;
}

/* icons */

.icons {
    text-align: center;
    background-color: blue;
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 50px;
}

.icons2 {
    text-align: center;
    background-color: red;
    width: 100px;
    height: 50px;
    float: right;
    margin-right: 50px;
}